{% extends "base.html" %}

{% block content %}
    <h1 style="padding-left: 1%; padding-top: 1%;">Add Building</h1>
    <form style="padding: 1%;" action="", method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control", placeholder="نام ساختمان/بلوک (الزامی)") }} 
            {% for error in form.name.errors %}
                <span style="padding-top:0%; color: red;">{{ error }}</span> <br>
            {% endfor %}

            {{ form.stories_count.label(class="form-label") }} 
            {{ form.stories_count(class="form-control", placeholder="تعداد طبقات (الزامی)") }}
            {% for error in form.stories_count.errors %}
            <span style="color: red;">{{ error }}</span> <br>
            {% endfor %}

            {{ form.units_count.label(class="form-label") }}
            {{ form.units_count(class="form-control", placeholder="مجموع تعداد واحدها (الزامی)") }}
            {% for error in form.units_count.errors %}
                <span style="color: red;">{{ error }}</span> <br>
            {% endfor %}

            {{ form.residents_count.label(class="form-label") }}
            {{ form.residents_count(class="form-control", placeholder="مجموع تعداد ساکنین (اختیاری)") }}
            {% for error in form.residents_count.errors %}
                <span style="color: red;">{{ error }}</span> <br>
            {% endfor %}

            {{ form.address.label(class="form-label") }}
            {{ form.address(class="form-control", placeholder="آدرس (اختیاری)") }}
            {% for error in form.address.errors %}
                <span style="color: red;">{{ error }}</span> <br>
            {% endfor %}

            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control", placeholder="سایر اطلاعات مثل پارکینگ، انباری و ... (اختیاری)") }}
            {% for error in form.description.errors %}
                <span style="color: red;">{{ error }}</span> <br>
            {% endfor %}

            <br>
            {{ form.submit(class="btn btn-primary", style="width: 100%") }}
        </p>
    </form>
{% endblock %}

