{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 style="padding: 3%; margin-top: 1%; text-align: center;">ورود</h1>
    <form style="padding: 1%; margin:1em"  action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control", placeholder="نام کاربری") }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control", placeholder="رمز عبور") }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me(class="form-check-input") }} {{ form.remember_me.label(class="form-check-label") }}</p>
        <p>{{ form.submit(class="btn btn-primary mt-3", style="width: 100%") }}</p>
    </form>
    <p>کاربر جدید هستید؟ <a href="{{ url_for('register') }}">ثبت نام!</a></p>
</div>
{% endblock %}