{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 style="padding: 3%; margin-top: 1%; text-align: center;">تنظیمات مدیریتی</h1>
    <form style="padding: 1%; margin:1em"  action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <dl>
            <dt>
                {{ form.personalized_board(class="form-check-input") }} 
                {{form.personalized_board.label(class="form-check-label") }}
            </dt>
            <dd>جزئیات و بدهی‌های واحدهای دیگر قابل مشاهده نیست.</dd>
            <dt>
                {{ form.reserved_cash_on_board(class="form-check-input") }} 
                {{form.reserved_cash_on_board.label(class="form-check-label") }}
            </dt>
        </dl>
        <p>{{ form.submit(class="btn btn-primary mt-3", style="width: 100%") }}</p>
    </form>
</div>
{% endblock %}