{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2 style="text-align: center;" class="m-4">ریز بدهی</h2>
    </div>
    <div class="container">
        <table class="table-bordered table-striped table">
            <thead>
                <tr>
                    <th style="text-align: center;" scope="col"> # </th>
                    <th style="text-align: center;" scope="col"> نام خرج </th>
                    <th style="text-align: center;" scope="col"> دوره </th>
                    <th style="text-align: center;" scope="col"> سهم (تومان) </th>
                </tr>
            </thead>
            <tbody>
            {% for share in shares %}
                {% if share.amount == 0 %}
		    {{ continue }}
		{% else %}
		<tr>
                    <th style="text-align: center;" scope="row" class="m-4"> {{ loop.index }} </th>
                    <td class="m-4"> {{ share.name }} </td>
                    <td style="text-align: center;" class="m-4"> {{ share.period }} </td> 
                    <td class="m-4">{{ '{:,}'.format(share.amount | int) }}</td> 
                </tr>
		{% endif %}
            {% endfor %}
            <tr>
                <th style="text-align: center;" scope="row" class="m-4">*</th>
                <td class="m-4">بدهی قبلی</td>
                <td style="text-align: center;" class="m-4" colspan="2">{{ '{:,}'.format(ceil(prev_debt) | int) }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
